<section class="section hero">
  <div class="hero-inner">
    <!--<div class="subhead">What Would You Like to Know?</div>-->
    <h1 class="hero-header">
      Classic Studio Knowledge Base
  </h1>
    {{search submit=false instant=true class='search search-full' placeholder='Search the Knowledge Base...'}}
  </div>
</section>

<div class="container">
  <section class="section knowledge-base">
    <h2 style="text-align: center;">Cookie Settings</h2>
    <!-- GDPR and CCPA Cookie Declaration -->
    <script
      id="CookieDeclaration"
      src="https://consent.cookiebot.com/89bb519f-579c-41e2-b342-06d6f2003789/cd.js"
      type="text/javascript" async
      data-georegions="{'region':'US','cbid':'41b6594a-2df7-4b67-b60c-addb4a677c87'}"
    ></script>

  </section>
</div>
